nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    /* border: 2px solid black; */
    justify-content: space-around;
    align-items: center;
    width: 50%;

}

a {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

a:hover {
    color: aqua;
}

.bookmark-container {
    background-color: antiquewhite;
    width: 50%;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}

.bookmark-link {
    margin: 5px;
    border: 2px solid yellow;
}

.bookmark {
    display: grid;
    border: 5px solid antiquewhite;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: 35px;
}

.external-link { 
    text-decoration: underline;
    display: block;
    margin: 15px 0px;
}

.delete-button {
    width: 20%;
}
